body {
	margin: 0;
	font-family: sans-serif;
}

header {
	width: 100%;
	background: #4E94AB;
}

#btn-menu{
	display: none;
}

main{
	padding: 20px;
}
header label {
	display: none;
	height: 25px;
	width: 25px;
	padding: 5px;
	border-right: 1px solid #fff;
}
header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
	border: 1px;
}
.menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
}
.menu li{
	border-right: 1px solid #fff;
}
.menu ul a{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
}
.menu ul a:hover{
	background: rgba(0,0,0,0.3);
}

@media (max-width:768px){
	header label{
		display: block;
	}
	.menu{
		position:absolute;
		background: #4E94AB;
		width: 70%;
		margin-left: -70%;
		transition: all 0.3s;
	}
	.menu ul{
		flex-direction: column;
	}
	.menu ul li{
		border-top: 1px solid #fff;
	}
	#btn-menu:checked ~ .menu{
		margin-left: 0;
	}
}