.banner {
    width: 700px;
    height: 300px;
    border: 3px solid grey;
    margin: auto;
    
    
    background-size: 100% 100%;
     
    animation: banner 10s infinite;
}

/* 0%    30%  35%    65%  70%    100% */
/*   image1     image2      image3    */
@keyframes banner {
    0%, 30% {
      background-image: url(blueprint1.jpg);    
      opacity: 1;
    }
    31%, 34% {
      opacity: 0.1;
    }
    35%, 65% {
      background-image: url(blueprint2.jpg);
        opacity: 1;
    }
    66%, 79% {
        opacity: 0.1;
    }
    70%, 100%{
        background-image: url(blueprint3.jpg);
        opacity: 1;
    }
}